@tailwind base;
@tailwind components;
@tailwind utilities;




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-cart a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-cart a .fas {
  margin-right: 5px;
}

/* ItemListContainer.css */
.slide-in {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(20px);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0);
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

